<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <import resource="jdbcContext.xml"/>-->

<!--    <bean id="dataSource"-->
<!--            class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="org.h2.Driver"></property>-->
<!--        <property name="url" value="jdbc:h2:./target/TEST"></property>-->
<!--        <property name="username" value=""></property>-->
<!--        <property name="password" value=""></property>-->
<!--    </bean>-->
    <bean name="applicationRepository" class="com.ensonglopedia.dao.ApplicationRepositoryImpl"/>
    <bean name="applicationService" class="com.ensonglopedia.service.ApplicationServiceImpl"/>

</beans>